<div class="card horizontal card small">
  <div class="card-image">
    <a href="{{ path_for('product.get', { slug: product.slug }) }}">
      <img class="responsive-img" src="{{ product.image }}"
    /></a>
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <p>{{ product.description }}}</p>
    </div>
    <div class="card-action">
      <a href="{{ path_for('product.get', { slug: product.slug }) }}">{{
        product.title
      }}</a>
    </div>
  </div>
</div>
